<strong>Olá {{ user }}, seja bem-vindo a nossa academia.</strong>
<p>Dados da sua matrícula:</p>
<p>
  <strong>Plano: {{ planTitle }} </strong><br />
  <strong>Data de término: {{ endDate }} </strong><br />
  <strong>Valor mensal: {{ priceMonth }} </strong><br />
  <strong>Valor Total: {{ priceTotal }} </strong><br />

  <br />
  <small>
    Agradecemos a prefêrencia.
  </small>
</p>
